name: Security - SAST & Secrets

on:
  workflow_dispatch:
  push:
    #paths:
     # - "**/*.py"
     # - "security/semgrep/**"
     # - "security/.gitleaks.toml"
     # - ".github/workflows/ci-sast-secrets.yml"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sast_secrets:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure evidence dirs
        run: mkdir -p EVIDENCE/P10

      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci,security/semgrep/rules.yml
          output: EVIDENCE/P10/semgrep.sarif
          output-format: sarif

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: security/.gitleaks.toml
          report-format: json
          report-path: EVIDENCE/P10/gitleaks.json

      - name: Upload SAST & Secrets evidence
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: P10_EVIDENCE
          path: EVIDENCE/P10
